<div class="container">
  <div class="row" style="border: 1px; padding: 5px" *ngFor="let post of posts">
    <div style="width: 20%; float: left;">
      <img src="./assets/1.png" id="thumbnail" name="thumbnail" class="thumbnail" style=" width:100%; height: 100%">
      <!--<img src="http://192.168.16.11:3000/{{ post.image_url }}" id="thumbnail" name="thumbnail" class="thumbnail" style=" width:100%; height: 100%">-->
    </div>
    <div class="card card-block" style="width: 80%; float: left;">
      <h4 class="card-title">{{ post.ad_title }}</h4>
      <p class="card-text">Category: {{post.ad_category}}</p>
      <p class="card-text">Field10: {{post.ad_field10}} &nbsp;&nbsp; Field11: {{post.ad_field11}}</p>
      <p class="card-text">{{post.ad_description}}</p>
      <p class="card-text">{{post.ad_location}}</p>

      <a href="#" class="card-link">Ad link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
